.nav-head-main{
    width: 100%;
    height: 70px;
    background-color:#f2f1f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    transition: all ease 400ms;
    z-index: 123;
}
.nav-head-main-action{
    width: 100%;
    height: 60px;
    background-color:#f2f1f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 123;
}
.header-logo{
  width: 231px;
   
}
.head-nav-image{
    width: 231px;
    height: 70px;
}
 .avatar-div{
     width: 100%;
     display: flex;
    justify-content: end;

 }
  .avatar-div-action{
      width: 100%;
      display: flex;
     justify-content: end;
  }
 .avatar-img{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.16);
 }
 .logout-text{
     text-decoration: none;
     color: gray;
 }
 .drop-down-menu{
    min-width: auto;
 }
 
 .dropdown-option{
    text-transform: uppercase;
 }
