.project-name-header {
  margin-left: 30%;
}
.para-tag_1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;

  @media only screen and (min-width: 320px) and (max-width: 424px) {
    width: 100%;
  }

  @media only screen and (min-width: 425px) and (max-width: 500px) {
    width: 100%;
  }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    width: 100%;
  }
}
.close-btn {
  background-color: #1d5460;
  border: #1d5460;
  width: 10%;
}
.close-btn:hover {
  background-color: #0c4c5a;
  border: #1d5460;
  opacity: 0.8;
}
.close-btn::after {
  background-color: #0c4c5a;
  border: #1d5460;
}
.close-btn:disabled {
  background-color: #0c4c5a;
  border: #1d5460;
}
.close-btn:active {
  background-color: #0c4c5a;
  border: #1d5460;
}
.close-btn:focus {
  background-color: #0c4c5a;
  border: #1d5460;
}
.save-changes {
  // width: 100%;
  background-color: 1px #1d5460;
  border: #1d5460;
}
.part-type-aln {
  margin-top: 2.5%;
}
.warning-message {
  justify-content: center;
  background: none !important;
  font-size: smaller;
}
.save-changes:hover {
  background-color: #0c4c5a;
  border: #1d5460;
  opacity: 0.8;
}
.save-changes::after {
  background-color: #0c4c5a;
  border: #1d5460;
}
.save-changes:disabled {
  background-color: #0c4c5a;
  border: #1d5460;
}
.save-changes:active {
  background-color: #0c4c5a;
  border: #1d5460;
}
.save-changes:focus {
  background-color: #0c4c5a;
  border: #1d5460;
}

.mttr-alert {
  justify-content: center;
}
.save-cancel {
  width: 150px;
}
.procedure {
  color: #f2f1f2;
}

.procedure:hover {
  color: #f2f1f2;
}
.mttr-sec {
  background-color: #1d5460;
  border-radius: 5px;
  //    margin: 10px;
}
.mttr-sec1 {
  background-color: #1d5460;
  border-radius: 5px;
  text-align: center
  //    margin: 10px;
}

.mttr-card {
  display: flex;
  height: auto;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: #f2f1f2;
  padding: auto;
  
  
  // @media only screen and (min-width:320px) and (max-width:424px){
  //     width: 100%;
  //     }
  //     @media only screen and (min-width:425px) and (max-width:500px){
  //     width: 100%;
  //     }

  //     @media only screen and (min-width:500px) and (max-width:768px){
  //     width: 100%;
  //     }
}
// .lcc{
//     margin-left: -10%;
//     width: 100%;
// }

.modal-card {
  display: flex;
  height: auto;
  width: 850px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f1f2;
}

.form-cont {
  width: 50%;
  height: 30px;
}

.label-div {
  width: 40% !important;
  font-weight: 500;
  font-size: 14px;
  @media only screen and (min-width: 320px) and (max-width: 424px) {
    width: 100% !important;
    display: inline-block;
  }
  @media only screen and (min-width: 425px) and (max-width: 500px) {
    width: 100% !important;
    display: inline-block;
  }

  @media only screen and (min-width: 500px) and (max-width: 768px) {
    width: 100% !important;
    display: inline-block;
  }
}
.label-div-mttr-pre {
  font-weight: 500;
  font-size: 14px;
}
.form-group {
  @media only screen and (min-width: 320px) and (max-width: 424px) {
    width: 100% !important;
    display: block;
  }
  @media only screen and (min-width: 425px) and (max-width: 500px) {
    width: 100% !important;
    display: block;
  }

  @media only screen and (min-width: 500px) and (max-width: 768px) {
    width: 100% !important;
    display: block;
  }
}
.btn-mttr {
  background-color: #238d9d;
  color: #f2f1f2;
  margin: 10px;
  border: none;
  width: 50%;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    font-size: x-small;
    width: 100%;
  }
}
.btn-mttr:hover {
  background-color: #176f7c;
  color: #f2f1f2;
}
.save-btn-div {
  display: flex;
  justify-content: flex-end;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media only screen and (min-width: 767px) and (max-width: 925px) {
    display: flex;
    justify-content: center;
  }
}
.btn-save {
  width: 18%;
  font-weight: bold;
  background-color: #1d5460;
  border: none;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    width: auto;
    font-size: x-small;
  }
}
.btn-save:hover {
  background-color: #9c6b09;
  border: none;
}
.spinner {
  margin-left: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}
.spinner_2 {
  margin-left: 50%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.btn-cancel{
    width:18%;
    font-weight: bold;
    background-color: #398935;
    border: none;
    @media only screen and (min-width:320px) and (max-width:768px){
        width: auto;
        font-size: x-small;
    }
    @media only screen and (min-width:767px) and (max-width:925px){
        width: 23%;
    }
}
.btn-cancel:hover {
  background-color: gray;
}
// .modal-dialog {
//     max-width: 90%;
// }
.btn-modal {
  width: 150px;
  @media only screen and (min-width: 320px) and (max-width: 740px) {
    width: 50%;
  }
}
.mttr-modal-main {
  max-width: 80%;
}
// .mttr-modal-table{
//     max-width: 10% !important;
//     @media only screen and (min-width:320px) and (max-width:768px){
//         max-width: 50% !important;
//     }
// }

.frp-tree-select {
  width: 310px !important;
  margin-bottom: 50px;
}
.part-type {
  margin-top: -0.9%;
}
.modal-content {
  background-color: #ffff;
  border-radius: 5px;
  width: 130%;
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
    width: 900px;
    background-color: #ffff;
  }
  @media only screen and (min-width: 320px) and (max-width: 740px) {
    width: 100%;
    background-color: #ffff;
  }
}



.close-icon {
  float: right;
}

.nprdmodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px !important;
  max-width: 1500px; /* Set a maximum width for the modal */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px; /* Add padding for content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

/* Responsive classes for small and large screens */
@media (min-width: 576px) {
  /* Small screens (sm) and up */
  .nprdmodal {
    max-width: 700px; /* Adjust the maximum width for small screens */
  }
}

@media (min-width: 992px) {
  /* Large screens (lg) and up */
  .nprdmodal {
    max-width: 1200px; /* Adjust the maximum width for large screens */
  }
}

.buttoncal {
  width: 25%;
  display: flex;
  background-color: #0d6efd;
  border-radius: 5px;
  justify-content: center;
  margin: 10px;
  @media only screen and (min-width: 320px) and (max-width: 740px) {
    width: 50%;
    display: flex;
    background-color: #0d6efd;
    border-radius: 5px;
    justify-content: center;
    margin: 10px;
  }
}
