.pbs-main {
  margin-top: 6%;
  @media only screen and (min-width: 320px) and (max-width: 424px) {
    margin-top: 25%;
  }
  @media only screen and (min-width: 425px) and (max-width: 500px) {
    margin-top: 20%;
  }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    margin-top: 10%;
  }
}

.failure-field {
  margin-top: 11%;
  width: 94%;
}
.predicted-label {
  margin-bottom: -10%;
}
// .pbs-modal-card{
//   background-color: rgb(242 241 242);
// }
.part-type-select {
  width: 107%;
}
.quantity {
  width: 103%;
}
.environment-frp {
  width: 120%;
}
.pbs-add-btn {
  margin-top: 2%;
  // width: 15%;
  font-weight: 500;
  background-color: #1d5460;
  border: none;
  @media only screen and (min-width:320px) and (max-width: 768px) {
    width: auto;
    font-size: x-small;
    margin-top: 2rem;
  }
  // @media only screen and (max-width: "1460px") {
  //   font-size: 14px;
  // }
  // @media only screen and (max-width: "1340px") {
  //   font-size: 13px;
  // }
  // @media only screen and (max-width: "1280px") {
  //   font-size: 12px;
  // }
}

:root {
  --background-color: #ffffff;
  --primary-color: oklch(45.12% 0.267 268.81);
  --secondary-color: oklch(94.45% 0.03 268.81);
}
.pbs-add-btn:hover {
  background-color: #10758b;
  border: none;
}
.pbs-sec {
  background-color: #1d5460;
  border-radius: 5px;
}
.pbs-card {
  margin-top: 20px !important;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f1f2;
  height: auto;
  display: flex;
}
.pbs-modal {
  width: 70%;
  margin: 0% 10% 0% 20% !important;
  display: flex !important;
  justify-content: center !important;
}
.pbs-modal-body {
  height: 100% !important;
  width: auto !important;
  // width: 500px;
  display: flex;
  justify-content: center;
}
.plus-tag {
  cursor: pointer;
  color: blue;
  font-size: large;
}
.cancel-btn-pbs {
  margin-top: 2%;
  width: 15%;
  font-weight: bold;
  background-color: #1d5460;
  border: none;
  @media only screen and (min-width:320px) and (max-width: 768px) {
    width: auto;
    font-size: x-small;
  }
}
.cancel-btn-pbs:hover {
  background-color: #9c6b09;
  border: none;
}
// .main-div-product{
//   margin:  3rem 4.3rem 3rem 3rem ;
//   @media only screen and (min-width:320px) and (max-width:768px){
//       margin: 0rem;
//       margin-top: 5rem;
//   }
// }
.pbs-columns-div {
  margin: 2rem;
}

// .form-group-pbs{
//   width: 100%;
//   @media only screen and (min-width:320px) and (max-width:768px){
//       width: 100%;
//   }
// }

.pbs-modal::-webkit-scrollbar {
  display: none;
}
.cancel-save-btn-pbs {
  display: flex;
  justify-content: flex-end;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    justify-content: center;
  }
}
.main-modal-pbs {
  width: 50%;
  margin: 0% 0% 0% 30%;
  display: flex !important;
  justify-content: center !important;
}
.main-modal-body-pbs {
  height: 80px !important;
  width: 500px;
  display: flex;
  justify-content: center;
}
.create-pTag {
  margin-bottom: 0px;
  font-size: 15px;
}
