.user-modal {
   
    margin: 5% 10% 10% 15% !important;
  }
  .add-user-modal{
      width: 80%;
      margin: 10% 15% 15% 20% !important;
  }
  .user-delete-modal{
    width: 40%;
    height: 300px ;
    margin: 17% 10% 0% 40% !important;
  }
  .user-sec {
    background-color: #1D5460;
     border-radius: 5px;
  }
  .delete-user-btn {
  width: 150px;
  @media only screen and (min-width: 320px) and (max-width: 740px) {
    width: 50%;
  }
  .delete-user-btn:hover{
    background-color: green;
  }
  }
  .success-message{
    border-top: 0;
    bottom: "30px";
  }
  .open-link{
    color: black;
  }
  .no-btn{
    width: 125px;
  }
  .yes-btn{
    width: 125px;
  }
  .user-dropdown{
    background-color: unset !important;
    border-color: transparent !important;
    border: unset !important;
    box-shadow: unset !important;
  }
  .dropdown-toggle::after{
    display: none !important;
  }
  .user-dropitem{
    background-color: unset !important;
  }
  .collapse-text-style {
    text-decoration: none;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    // margin: 12px 0px;
    justify-content: center;
    font-size: 16px;
  }
// .user-tag {
//   // font-size: 20px;
//   font-weight: bold;
//   color: white;
// }
.user-delete-modal-user {
  width: 50%;
  // height: 300px;
  margin-left: 30%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.modal-body-user {
  height: 150px !important;
  display: flex;
  width: 500px !important;
  justify-content: center;
  align-items: center;
}
// .login-btn-css:hover {
//   background-color: #E17F2F;
//   border: 2px solid #E17F2F;
//   padding-left: 25%;
//   padding-top: 3px;
//   padding-bottom: 3px;
//   padding-right: 25%;
// }
.container-forgot {
  margin: 8% auto 37px;
  max-width: 530px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);

  @media (min-width: 320px) and (max-width: 570px) {
    margin-top: 30%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    margin-top: 10%;
  }
}
.login-btn-css {
  background-color: oklch(45.12% 0.267 var(--user-theme-color-hue));
  color: white;
  border: 2px solid #1d5460;
  padding: 1%;
  width: 73%;
  border-radius: 5px;
}
.login-btn-css-new {
  background-color: #1d5460; 
  color: white;
  border: 2px solid #1d5460;
  padding: 1%;
  width: 73%;
  border-radius: 5px;
  margin: 20px;
}
.login-btn-ok-btn{
  min-width: 175px;
  background-color: #1d5460; 
    color: white;
  font-weight: 500;
  border-radius: 3px;
}
.login-heading-div{
  background-color: #1d5460; 
  padding: 1%;
  margin-top: 20px;
}
.form-control:focus {
  box-shadow: none;
}
